/*!
 * Trouble Stylesheet
 *
 * Bootstrap modifications for the Trouble ticketing system.
 */
@import "bootstrap.css";
@import "bootstrap-responsive.css";

@font-face {
    font-family: Mensch;
    src: url('/static/mensch.ttf');
}

/* Compensates for enlarging of brand text and, as a consequence, the entire navbar */
body {
    padding-top: 82px;
}

/* Navbar gradient changes */
.navbar-inner{
    background-color: #CBE86B;
    background-image: -moz-linear-gradient(top, #CBE86B, #B6D164);
    background-image: -ms-linear-gradient(top, #CBE86B, #B6D164);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#CBE86B), to(#B6D164));
    background-image: -webkit-linear-gradient(top, #CBE86B, #B6D164);
    background-image: -o-linear-gradient(top, #CBE86B, #B6D164);
    background-image: linear-gradient(top, #CBE86B, #B6D164);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CBE86B', endColorstr='#B6D164', GradientType=0);
}

/* Changes to branding text */
.navbar .brand {
    color: #1C140D;
    font-family: Mensch,"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 44px;
    padding-top: 16px;
    padding-bottom: 4px;
}

/* Navbar link and dropdown color */
.navbar .nav > li > a,
.navbar .dropdown-menu a
{
    color: #1C140D;
}

/* Active navbar link background */
.navbar .nav .active > a,
.navbar .nav .active > a:hover {
    color: white;
    background-color: #1C140D;
}

/* Spacing to roughly center branding text vertically inside navbar */
.navbar .nav {
    margin-top: 24px;
}

/* Primary button gradient changed to match navbar gradient*/
.btn-primary{
    color: #1C140D;
    background-color: #CBE86B;
    background-image: -moz-linear-gradient(top, #CBE86B, #93aa55);
    background-image: -ms-linear-gradient(top, #CBE86B, #93aa55);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#CBE86B), to(#93aa55));
    background-image: -webkit-linear-gradient(top, #CBE86B, #93aa55);
    background-image: -o-linear-gradient(top, #CBE86B, #93aa55);
    background-image: linear-gradient(top, #CBE86B, #93aa55);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CBE86B', endColorstr='#93aa55', GradientType=0);
}

/* Other changes to primary button colors */
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    color: #ffffff;
    background-color: #93aa55;
}

.btn-primary:active,
.btn-primary.active {
    background-color: #93aa55 \9;
}

.btn-primary .caret {
    border-top-color: #000;
    border-bottom-color: #000;
}

/* Font size increases */
body, p { font-size: 95%; }
h4 { font-size: 105%; }
h3 { font-size: 120%; }
h2 { font-size: 140%; }
h1 { font-size: 180%; }

/* Enlarged text in form elements */
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"],
input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"],
input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input,
label, input, button, select, textarea {
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
}

/* Spaced out labels from labeled elements */
label {
    margin-bottom: 3px;
}

/* Additional spacing for headers */
h1, h2, h3, h4, h5, h6 {
    margin_top: 5px;
    margin-bottom: 5px;
}

/* Horizontal spacing for adjacent buttons */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    margin-right: 10px;
}
/* No horizontal spacing in button groups */
.btn-group button,
.btn-group input[type="button"],
.btn-group input[type="reset"],
.btn-group input[type="submit"] {
    margin-right: 0;
}

/* Spacing on top of buttons */
.navbar .btn, .navbar .btn-group {
    margin-top: 17px;
}

/* Spacing right of button groups and inline display*/
.btn-group {
    margin-right: 10px;
    display: inline-block;
    vertical-align: bottom;
}

/* Fixes for mobile */
@media (max-width: 979px) {
    body { padding-top: 0; }

    /* Hide FixedHeader cloned header in mobile */
    div.FixedHeader_Cloned { visibility: hidden; }
}

/* Get rid of shadow on navbar links */
.navbar .nav > li > a {
    text-shadow: none;
}

/* Tweak to errors */
.alert .errorlist {
    margin-bottom: 0px;
}

/* Increase tooltip font size */
.tooltip {
    font-size: 14px;
}

/* Bring well in line with overall color scheme */
.well, .well-large, .well-small {
    background-color: #fcfcfc;
}

/* Vertical button groups */
.btn-group-vertical{display:block;}
.btn-group-vertical+.btn-group-vertical{margin-top:5px;}
.btn-group-vertical .btn{display:block;width:100%;margin-top:-1px;padding-top:5px;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.btn-group-vertical .btn.btn-large{padding-top:10px;}
.btn-group-vertical .btn:first-child{margin-top:0;-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;border-top-left-radius:4px;-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px;border-top-right-radius:4px;}
.btn-group-vertical .btn:last-child,.btn-group-vertical .dropdown-toggle{-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;border-bottom-right-radius:4px;}
.btn-group-vertical .btn.large:first-child{margin-top:0;-webkit-border-top-left-radius:6px;-moz-border-radius-topleft:6px;border-top-left-radius:6px;-webkit-border-top-right-radius:6px;-moz-border-radius-topright:6px;border-top-right-radius:6px;}
.btn-group-vertical .btn.large:last-child,.btn-group-vertical .large.dropdown-toggle{-webkit-border-bottom-left-radius:6px;-moz-border-radius-bottomleft:6px;border-bottom-left-radius:6px;-webkit-border-bottom-right-radius:6px;-moz-border-radius-bottomright:6px;border-bottom-right-radius:6px;}
.btn-group-vertical .btn:hover,.btn-group-vertical .btn:focus,.btn-group-vertical .btn:active,.btn-group-vertical .btn.active{z-index:2;}
.btn-group-vertical .dropdown-toggle:active,.btn-group-vertical.open .dropdown-toggle{outline:0;}

form .btn-group-vertical[class*="span"] {
    margin-left: 0;
}
form .btn-group-vertical[class*="span"] .btn {
    width: auto;
}

/* DataTables styling */
div.dataTables_length label {
    width: 460px;
    float: left;
    text-align: left;
}

div.dataTables_info {
    padding-top: 8px;
}

div.dataTables_paginate {
    float: right;
    margin: 0;
}

table {
    margin-bottom: 6px !important;
    clear: both;
}

.FixedHeader_Cloned table{
    background-color: white;
    border-bottom: 2px solid #dddddd;
}

/* DataTables sort styling */
table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}

table.table thead .sorting {
    background: url('/static/sort_both.png') no-repeat center right;
    background-color: white;
}
table.table thead .sorting_asc {
    background: url('/static/sort_asc.png') no-repeat center right;
    background-color: white;
}
table.table thead .sorting_desc {
    background: url('/static/sort_desc.png') no-repeat center right;
    background-color: white;
}

table.table thead .sorting_asc_disabled {
    background: url('/static/sort_asc_disabled.png') no-repeat center right;
    background-color: white;
}
table.table thead .sorting_desc_disabled {
    background: url('/static/sort_desc_disabled.png') no-repeat center right;
    background-color: white;
}

/* Page length control */
.length-change {
    float: right;
    position: relative;
    z-index: 1029;
    margin-bottom: 3px;
}

.length-change ul {
    clear: none;
    display: inline;
    margin-left: 3px;
}

.length-change li {
    text-decoration: none;
    display: inline;
    margin-left: 4px;
}

.length-change p {
    display: inline;
    clear: none;
}

/* Mobile links to ticket edit page */
.ticket-link {
    width: 100%;
    height: 100%;
    display: block;
    color: #333333;
    text-decoration: none;
}
.ticket-link:hover {
    text-decoration: none;
    color: #333333;
}
/* Ticket titles for mobile */
.title { font-weight: bold; }

/* Hide form legend when inside a modal */
.modal legend {
    visibility: hidden;
    margin: 0;
    padding: 0;
    height: 0;
    border: none;
}

/* Ticket details table styling */
.ticket-details th { text-align: right; }
.ticket-details { clear: both; }

/* Remove margins from form inside table */
td form { margin: 0; }

/* Vertically align table headings in ticket detail table to middle for better alignment with form buttons */
.ticket-details th { vertical-align: middle; }

/* Match labels to the colorscheme and fix alignment */
.label-success, .label-success:hover {
    background-color: #CBE86B;
    color: #333;
}
.label-warning, .label-warning:hover {
    background-color: #ff9490;
    color: #333;
}
.label { vertical-align: baseline; }

/* Style buttons inside dropdowns to look just like plain text (for form posting) */
.dropdown-menu button {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #333333;
    white-space: nowrap;
    border: 0;
    background: #fff;
    margin-left: 10px;
    width: 100%;
    -webkit-border-top-left-radius:0 !important;-moz-border-radius-topleft:0 !important;border-top-left-radius:0 !important;-webkit-border-top-right-radius:0 !important;-moz-border-radius-topright:0 !important;border-top-right-radius:0 !important;
    -webkit-border-bottom-left-radius:0 !important;-moz-border-radius-bottomleft:0 !important;border-bottom-left-radius:0 !important;-webkit-border-bottom-right-radius:0 !important;-moz-border-radius-bottomright:0 !important;border-bottom-right-radius:0 !important;
    
}
.dropdown-menu li > button:hover,
.dropdown-menu .active > button,
.dropdown-menu .active > button:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
}

/* Color tabbed content areas inside wells to match the active tab color */
.well .nav-tabs > .active > a, .well .navtabs > .active > a:hover { background: #fcfcfc; }

/* Fix re-open button alignment */
#reopen-button { vertical-align: baseline; }

/* Add hover highlight to header in ticket-details table */
.ticket-details thead tr:hover td,
.ticket-details thead tr:hover th {
    background-color: #f5f5f5;
}

/* Maximum height for updates portion of ticket detail page */
#view-updates {
    max-height: 300px;
    overflow-y: scroll;
}

/* Page navigation bar (for navigating inside a single page */
#pagenav {
    top: 64px;
    height: 40px;
}
#pagenav .navbar-inner { background: #F2E9E1; }
#pagenav .nav {
    margin-top: 0;
}
#pagenav .nav .active > a,
#pagenav .nav .active > a:hover {
    color: #333;
    background: #e8dfd7;
}

/* Make entire update form modal visible */
#reopen-update.fade { top: -70%; }
#reopen-update.fade.in { top: 45%; }
#reopen-update.fade.in .modal-body {
    max-height: 480px;
    overflow-y: hidden;
}

/* Alignment fix for ticket state cell */
#state-cell { vertical-align: bottom; }

/* Caret styling */
.navbar .nav li.dropdown .dropdown-toggle .caret {
    border-top-color: #1C140D;
    border-bottom-color: #1C140D;
    filter: alpha(opacity=60);
    opacity: 0.6;
}

.navbar .nav li.dropdown .dropdown-toggle:hover .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

/* Remove arow from dropdown menu */
.navbar .dropdown-menu:before {
    content: none;
    display: inline-block;
    border: 0;
    position: absolute;
    top: 0;
    left: 9px;
}
.navbar .dropdown-menu:after {
    content: none;
    display: inline-block;
    border: 0;
    position: absolute;
    top: 0;
    left: 10px;
}

/* Fix GlyphIcons paths */
[class^="icon-"],
[class*=" icon-"] {
    background-image: url("/static/glyphicons-halflings.png");
}
.icon-white {
    background-image: url("/static/glyphicons-halflings-white.png");
}

/* Problem text styling for mobile ticket list */
div.mobile-problem {
    color: #0088cc;
    font-size: 120%;
    clear: right;
    margin-bottom: 3px;
}

/* Table cell alignment */
td.right { text-align: right; }
td.center { text-align: center; }

/* DataTables filter box styling */
div.dataTables_filter input {
    float: left;
    margin-right: 5px;
    padding-right: 14px;
    padding-right: 4px \9;
    padding-left: 14px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
}

/* Correct alignment of "more" button for filters in respect to the filter button next to it */
#filter-collapse-control { vertical-align: middle; }

/* Place primary navigation over secondary on the z axis */
#primary-nav { z-index: 1031; }

/* Breathing room for the filters collapsible box */
#filters { margin-top: 5px; }