{% if not is_include %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <title>{% block title %}{{ title }}{% endblock %} < Trouble</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Le styles -->
        <!-- todo-devon Link to minified version in production. Use an if to detect if debug true.-->
        <link href="{{ STATIC_URL }}trouble.css" rel="stylesheet">

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Le fav and touch icons -->
        <!-- todo-devon Make favicons -->
        <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}apple-touch-icon-57-precomposed.png">
    {% endblock %}
</head>

{% block bodytag %}
<body>
{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top" id="primary-nav">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/ticket/">Trouble</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="dropdown">
                        <a href="/ticket/" class="dropdown-toggle" data-toggle="dropdown" data-target="#">Tickets<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/ticket/"><i class="icon-search"></i> View tickets</a></li>
                            <li><a href="/ticket/add/"><i class="icon-plus-sign"></i> Add ticket</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-target="#">Sites<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/site/add/"><i class="icon-globe"></i> Add site</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-target="#">Solvers<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/solver/add/"><i class="icon-user"></i> Add solver</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
{% endblock %}

<div class="container">
    {% block messages %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert{% if message.tags %} {{ message.tags }}{% endif %}">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block form %}
    {% endblock %}

</div> <!-- /container -->

{% block modals %}
{% endblock %}

{% block scripts %}
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}jquery.js"></script>
    <script src="{{ STATIC_URL }}bootstrap-alert.js"></script>
    <script src="{{ STATIC_URL }}bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}bootstrap-dropdown.js"></script>

    <script language="text/javascript">
        // Enables closeable alerts
        $(".alert").alert();

        // Enables dropdowns
        $('.dropdown-toggle').dropdown()
    </script>
{% endblock %}

</body>
</html>
{% endif %}