{% extends "base.html" %}
{% load widget_tweaks %}

{% block head %}
    {{ block.super }}
    <link href="{{ STATIC_URL }}chosen-bootstrap.css" rel="stylesheet">
{% endblock %}

{% block form %}
    <form class="form-horizontal" action="{{ form_action }}" method=POST>
        <!--
            Override the form if you cannot pass the form object in the context. Otherwise, simply pass the form.
        -->
        {%if title %}<legend>{{ title }}</legend>{% endif %}
        {% if form.non_field_errors.0 %}
            <div class="alert-message block-message error">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        {% for field in form %}
            {% if field.is_hidden %}
            {{ field }}
            {% else %}
            <div class="control-group {% if field.errors %}error{% endif %}">
                <label class="control-label" for="id_{{ field.name }}">
                    {% if field.field.required %}<strong>{% endif %}
                    {{ field.label }}:
                    {% if field.field.required %}</strong>{% endif %}
                </label>

                <div class="controls">
                    {{ field|append_attr:"class:span3" }}

                    {% if field.errors %}
                    <ul class="help-inline">
                        {% for error in field.errors %}
                        <li class="help-inline">{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    {% if field.help_text %}
                    <div class="help-text">
                        <p>{{ field.help_text }}</p>
                    </div><!-- /.help-text -->
                    {% endif %}
                </div>
            </div>
            {% endif %}
        {% endfor %}

        {% csrf_token %}
        <div class="form-actions">
            {% block buttons %}
                <!--
                    Override this block if you need different buttons. The default buttons are "Delete" (if an instance) and "Submit".
                    The "Delete" button is added if the form context contains "edit_form" set to True.
                -->
                <!-- todo-devon Add save + new functionality to site and solver forms -->
                {% if form.instance.pk %}
                    <button class="btn btn-danger btn-large" data-toggle="modal" data-target="#confirm-delete"><i class="icon-ban-circle"></i> Delete</button>
                {% endif %}
                <button type="submit" class="btn btn-primary btn-large stateful" data-loading-text="Saving..." id="submit">
                    <i class="icon-ok"></i> Submit
                </button>
            {% endblock %}
        </div>
    </form>
{% endblock %}

{% block modals %}
    {% if form.instance.pk %}
        <!-- Delete confirmation modal -->
        <div class="modal fade" id="confirm-delete">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3>Confirm deletion</h3>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the ticket? This cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-large close" data-dismiss="modal"><i class="icon-remove"></i> Cancel</button>
                <button type="submit" name="delete" value="delete" data-loading-text="Deleting..." id="delete" class="btn btn-danger btn-large stateful"><i class="icon-ban-circle"></i> Delete</button>
            </div>
        </div>
        <!-- End delete confirmation modal -->
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}chosen.jquery.js"></script>
    <script src="{{ STATIC_URL }}bootstrap-modal.js"></script>
    <script src="{{ STATIC_URL }}bootstrap-button.js"></script>
    <!-- Default additional scripts are for a stateful submit button. Override to add more. -->
    <script type="text/javascript">

        // Enable buttons
        $('.btn').button();

        // Begin stateful buttons
        $('.stateful').click(function() {
            $(this).button('loading');
        }); // End stateful buttons

        // Implements Chosen to replace select widgets
        $("select").chosen({disable_search_threshold: 5});

        // Fixes reset button for Chosen elements
        $("button[type=reset]").click(function(evt){      // get reset click
            evt.preventDefault();    // stop default reset behavior (or the rest of this code will run before the reset actually happens)
            form = $(this).parents("form").first();    // get the reset buttons form
            form[0].reset();    // actually reset the form
            form.find("select").trigger("liszt:updated");    // tell all Chosen fields in the form that the values may have changed
        }); // End Chosen reset button fix
    </script>

    <!-- Inserts any media attached to the form -->
    {{ form.media }}
    <!-- End form media -->
{% endblock %}