{% extends "form.html" %}
{% load widget_tweaks %}

<!-- Override buttons to add delete -->
{% block buttons %}
    <div class="btn-group">
        <button type="submit" class="btn btn-primary btn-large stateful" data-loading-text="Saving..."><i class="icon-ok"></i> Submit</button>
        <button class="btn btn-primary btn-large dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><button type="submit" class="btn btn-primary btn-large" name="submit-plus">Submit + New</button></li>
        </ul>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}bootstrap-dropdown.js"></script>
    <script type="text/javascript">
        $('.dropdown-toggle').dropdown();
    </script>
{% endblock %}
