{% extends "form.html" %}
{% load widget_tweaks %}

<!-- Override buttons to add delete -->
{% block buttons %}
    <button class="btn btn-danger btn-large" data-toggle="modal" data-target="#confirm-delete"><i class="icon-ban-circle"></i> Delete</button>
    {{ block.super }}
{% endblock %}

{% block modals %}
    <!-- Delete confirmation modal -->
    <div class="modal fade" id="confirm-delete">
        <div class="modal-header">
            <a href="#" class="close" data-dismiss="modal">&times;</a>
            <h3>Confirm deletion</h3>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to delete the update? This cannot be undone.</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-large close" data-dismiss="modal"><i class="icon-remove"></i> Cancel</button>
            <button type="submit" name="delete" value="delete" data-loading-text="Deleting..." id="delete" class="btn btn-danger btn-large stateful"><i class="icon-ban-circle"></i> Delete</button>
        </div>
    </div>
    <!-- End modal -->
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        // Enables modals
        $('.modal').modal({ show: false });
    </script>

{% endblock %}
