{% extends "form.html" %}
{% load widget_tweaks %}

{% block head %}
    {{ block.super }}
    <style type="text/css">
        @media (min-width: 980px) {
            body {
                padding-top: 114px;
            }
        }

        @media (max-width: 979px) {}
            .navbar-fixed-top {
                margin-bottom: 0;
            }
        }

        @media (max-width: 979px) {}
        #pagenav {
            margin-bottom: 18px;
            }
        }
    </style>
{% endblock %}

{% block bodytag %}
    <body data-spy="scroll" data-target="#pagenav" data-offset="112">
{% endblock %}

{% block navbar %}
    {{ block.super }}
    <div class="navbar navbar-fixed-top hidden-phone" id="pagenav">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                    <li class="active"><a href="#details">Details</a></li>
                    <li><a href="#updates">Updates</a></li>
                    <li><a href="#edit">Edit</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

<!-- Content block contains the ticket updates as well as the form to add new udpates -->
{% block content %}
    <!-- Ticket name -->
    <h1 id="details">{{ ticket.problem }}</h1>
    <!-- Ticket description-->
    <p>{{ ticket.problem_description }}</p>

    <!-- Begin ticket info table-->
    <table class="table ticket-details span6">
        <thead>
        <tr>
            <th>Created</th>
            <td>{{ ticket.created|date:"m/d/Y g:iA" }}</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Ticket State</th>
            <td id="state-cell">
                {{ ticket.get_state_display }}
                {% if ticket.state = 'completed' %}
                    <button class="btn btn-primary btn-mini" id="reopen-button" data-toggle="modal" data-target="#reopen-update"><i class="icon-repeat"></i> Re-open</button>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Client</th>
            <td>
                {% if ticket.client_email %}<a href='mailto:{{ ticket.client_email }}'>{% endif %}
                {{ ticket.client }}
                {% if ticket.client_email %}</a>{% endif %}
            </td>
        </tr>
        {% if ticket.sites %}
        <tr id="sites">
            <th>Site</th>
            <td>
                {% for site in ticket.sites.all %}{% if not forloop.first %}<br />{% endif %}{{ site.name }}{% endfor %}
            </td>
        </tr>
        {% endif %}
        <tr>
            <th>Priority</th>
            <td>{{ ticket.get_priority_display }}</td>
        </tr>
        {% if ticket.assigned %}
        <tr>
            <th>Assigned</th>
            <td>
                {% for solver in ticket.assigned.all %}
                    {% if not forloop.first %}<br />{% endif %}
                    {% if solver.email %}<a href="mailto:{{ solver.email }}">{% endif %}
                    {{ solver.first_name }} {{ solver.last_name }}
                    {% if solver.email %}</a>{% endif %}
                {% endfor %}
            </td>
        </tr>
        </tbody>
        {% endif %}
    </table><!-- End ticket info table -->

    <!-- Well for updates -->
    <div class="well update-wrapper span12" id="updates">
        <h3>Updates</h3>
        <!-- Tabs for updates -->
        <ul class="nav nav-tabs" id="update-tabs">
            <li class="active"><a href="#view-updates" data-toggle="tab"><i class="icon-search"></i> View</a></li>
            <li><a href="#add-update" data-toggle="tab"><i class="icon-plus-sign"></i> New</a></li>
        </ul>

        <!-- Updates tabs contents -->
        <div class="tab-content">
            <!-- "View" updates tab contents -->
            <div class="tab-pane active" id="view-updates">
                <!-- Message for no updates -->
                {% if not updates %}
                    <p>No updates for this ticket.</p>
                {% endif %}

                <!-- Conditional loop for displaying updates -->
                {% if updates %}
                    <table class="table update-list span8 table-condensed">
                        <thead>
                            <tr>
                                <th class="span3">Created</th>
                                <th>Update</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for update in updates %}
                            <tr>
                                <td class="span2">
                                    {{ update.time|date:"m/d/Y g:iA" }}
                                </td>
                                <td>
                                    <h4>
                                        {{ update.title }}
                                        {% if update.completed %}
                                            <span class="label label-success"><i class="icon-ok-sign"></i> Completed</span>
                                        {% elif update.reopened %}
                                            <span class="label label-warning"><i class="icon-repeat"></i> Re-opened</span>
                                        {% endif %}
                                    </h4>
                                    <p>
                                        {{ update.description }}
                                    </p>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %} <!-- End update display loop -->
            </div> <!-- End "View" tab contents -->

        <!-- "New" updates tab contents -->
        <div class="tab-pane" id="add-update">
            <form class="form-horizontal" action="{{ form_action }}" method="POST">
                <!--
                    Override the form if you cannot pass the form object in the context. Otherwise, simply pass the form.
                -->
                <legend>Add an update</legend>
                {% if update_form.non_field_errors.0 %}
                <div class="alert-message block-message error">
                    {{ update_form.non_field_errors }}
                </div>
                {% endif %}

                {% for field in update_form %}
                {% if field.is_hidden %}
                {{ field }}
                {% else %}
                <div class="control-group {% if field.errors %}error{% endif %}">
                    <label class="control-label" for="id_{{ field.name }}">
                        {% if field.field.required %}<strong>{% endif %}
                        {{ field.label }}:
                        {% if field.field.required %}</strong>{% endif %}
                    </label>

                    <div class="controls">
                        {{ field|append_attr:"class:span3" }}

                        {% if field.errors %}
                        <ul class="help-inline">
                            {% for error in field.errors %}
                            <li class="help-inline">{{ error|escape }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}

                        {% if field.help_text %}
                        <div class="help-text">
                            <p>{{ field.help_text }}</p>
                        </div><!-- /.help-text -->
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                {% endfor %}

                {% csrf_token %}
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary btn-large stateful" data-loading-text="Saving..." name="submit-update">
                        <i class="icon-ok"></i> Submit
                    </button>
                </div>
            </form>
            </div> <!-- End of new update form -->
        </div><!-- End "New" updates tab contents -->
    </div> <!-- End update well -->
{% endblock %}

{% block form %}
    <!-- Well for ticket information and editing -->
    <div class="well ticket-info-wrapper span12" id="edit">
        <h3>Edit ticket</h3>
        <!-- Ticket editing form -->
        <form class="form-horizontal" action="{{ form_action }}" method="POST" id="ticket-edit-form">
            <!--
                Override the form if you cannot pass the form object in the context. Otherwise, simply pass the form.
            -->
            {% if form.non_field_errors.0 %}
            <div class="alert-message block-message error">
                {{ form.non_field_errors }}
            </div>
            {% endif %}

            {% for field in form %}
            {% if field.is_hidden %}
            {{ field }}
            {% else %}
            <div class="control-group {% if field.errors %}error{% endif %}">
                <label class="control-label" for="id_{{ field.name }}">
                    {% if field.field.required %}<strong>{% endif %}
                    {{ field.label }}:
                    {% if field.field.required %}</strong>{% endif %}
                </label>

                <div class="controls">
                    {{ field|append_attr:"class:span3" }}

                    {% if field.errors %}
                    <ul class="help-inline">
                        {% for error in field.errors %}
                        <li class="help-inline">{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    {% if field.help_text %}
                    <div class="help-text">
                        <p>{{ field.help_text }}</p>
                    </div><!-- /.help-text -->
                    {% endif %}
                </div>
            </div>
            {% endif %}
            {% endfor %}

            {% csrf_token %}
            <div class="form-actions">
                {% block buttons %}
                <!--
                    Override this block if you need different buttons. The default buttons are "Reset" and "Submit".
                    The "Delete" button is added if the form context contains "edit_form" set to True.
                -->
                <!-- Delete button -->
                <button class="btn btn-danger btn-large" data-toggle="modal" data-target="#confirm-delete"><i class="icon-ban-circle"></i> Delete</button>
                <button type="submit" class="btn btn-primary btn-large stateful" data-loading-text="Saving..." id="submit">
                    <i class="icon-ok"></i> Submit
                </button>
                {% endblock %}
            </div>
        </form><!-- End ticket editing form -->
    </div><!-- End ticket information and editing well -->
{% endblock %}

{% block modals %}
    <!-- Delete confirmation modal -->
    <div class="modal fade" id="confirm-delete">
        <div class="modal-header">
            <a href="#" class="close" data-dismiss="modal">&times;</a>
            <h3>Confirm deletion</h3>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to delete the ticket? This cannot be undone.</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-large close" data-dismiss="modal"><i class="icon-remove"></i> Cancel</button>
            <button type="submit" name="delete" value="delete" data-loading-text="Deleting..." id="delete" class="btn btn-danger btn-large stateful"><i class="icon-ban-circle"></i> Delete</button>
        </div>
    </div>
    <!-- End delete confirmation modal -->

    <!-- Reopen update modal -->
    <div class="modal fade" id="reopen-update">
        <div class="modal-header">
            <a href="#" class="close" data-dismiss="modal">&times;</a>
            <h3>Re-open ticket</h3>
        </div>
        <div class="modal-body">
            <p>Create a new update to explain why the ticket was re-opened.</p>
            <form class="form-horizontal" action="{{ form_action }}" method="POST">
                <!--
                    Override the form if you cannot pass the form object in the context. Otherwise, simply pass the form.
                -->
                {% if reopen_update_form.non_field_errors.0 %}
                <div class="alert-message block-message error">
                    {{ reopen_update_form.non_field_errors }}
                </div>
                {% endif %}

                {% for field in reopen_update_form %}
                {% if field.is_hidden %}
                {{ field }}
                {% else %}
                <div class="control-group {% if field.errors %}error{% endif %}">
                    <label class="control-label" for="id_{{ field.name }}">
                        {% if field.field.required %}<strong>{% endif %}
                        {{ field.label }}:
                        {% if field.field.required %}</strong>{% endif %}
                    </label>

                    <div class="controls">
                        {{ field|append_attr:"class:span3" }}

                        {% if field.errors %}
                        <ul class="help-inline">
                            {% for error in field.errors %}
                            <li class="help-inline">{{ error|escape }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}

                        {% if field.help_text %}
                        <div class="help-text">
                            <p>{{ field.help_text }}</p>
                        </div><!-- /.help-text -->
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                {% endfor %}

                {% csrf_token %}
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary btn-large stateful" data-loading-text="Saving..." name="submit-reopen-update">
                        <i class="icon-ok"></i> Submit
                    </button>
                </div>
            </form>
        </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <!-- Makes tabs work -->
    <script src="{{ STATIC_URL }}bootstrap-tab.js"></script>
    <script src="{{ STATIC_URL }}bootstrap-scrollspy.js"></script>
    <script type="text/javascript">
        // Enables modals
        $('.modal').modal({ show: false });

        // Enables scrollspy on secondary (in-page) navbar
        $('#pagenav').scrollspy();

        // Enable tabs
        $('.nav-tabs a[href="#view-updates"]').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
        $('.nav-tabs a[href="#add-update"]').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

        // Fix anchors to work with remaining viewport provided by fixed navbar
        $(document).ready( function() {
            var shiftWindow = function() { scrollBy(0, -102) };
            if (location.hash) shiftWindow();
            window.addEventListener("hashchange", shiftWindow);
        });
    </script>

    {% if update_form_visible %}
        <script type="text/javascript">
            // Activates "New" updates tab if update_form_visible template context is true.
            $(document).ready( function() {
                $('.nav-tabs a[href="#add-update"]').tab('show');
                $('#view-updates').removeClass('active');
                $('#add-update').addClass('active');
            });
        </script>
    {% else %}
        <script type="text/javascript">
            // Activates "View" updates tab by default
            $(document).ready( function() {
                $('.nav-tabs a[href="#view-updates"]').tab('show');
            });
        </script>
    {% endif %}

    {% if reopen_update_form_visible %}
        <script type="text/javascript">
            // Displays the reopen update modal if reopen_update_form_visible context is true.
            $(document).ready( function() {
                $('#reopen-update').modal('show');
            });
        </script>
    {% endif %}
{% endblock %}