{% extends 'base.html' %}

{% block head %}
    {{ block.super }}

{% endblock %}

{% block title %}Tickets{% endblock %}

{% block content %}
<h1 class="table-header">Tickets</h1>
    {% if ticket_list %}
        <div class="hidden-phone">
        <table class="table table-striped" id="ticket-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Added</th>
                    <th>Priority</th>
                    <th>Client</th>
                    <th><i class='icon-envelope'></i></th>
                    <th>Sites</th>
                    <th>Problem</th>
                    <th>Updates</th>
                    <th>State</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        </div>
        <div class="visible-phone">
            <table class="table condensed striped" id="mobile-ticket-table">
                <!-- todo-devon Paginate table -->
                <tbody>
                    {% for ticket in ticket_list %}
                        <tr>
                            <td>
                                <a href='/ticket/edit/{{ ticket.getURL }}/' class="ticket-link">
                                    <div class="mobile-problem">{{ ticket.problem }}</div>
                                    for {{ ticket.client }}<br/>
                                    {{ ticket.created|date:"m/d/Y g:iA" }}<br/>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="hero-unit">
            <h1>No tickets</h1>
            <p>This view is empty.</p>
        </div>
    {% endif %}

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap-tooltip.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap-popover.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery.dataTables.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}DataTables.FilteringDelay.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery.dataTables.BootstrapPagination.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}DataTablesLengthChange.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}FixedHeader.nightly.js"></script>
    <script type="text/javascript">
        // DataTables paging info
        $.fn.dataTableExt.oApi.fnPagingInfo = function ( oSettings )
        {
            return {
                "iStart":         oSettings._iDisplayStart,
                "iEnd":           oSettings.fnDisplayEnd(),
                "iLength":        oSettings._iDisplayLength,
                "iTotal":         oSettings.fnRecordsTotal(),
                "iFilteredTotal": oSettings.fnRecordsDisplay(),
                "iPage":          Math.ceil( oSettings._iDisplayStart / oSettings._iDisplayLength ),
                "iTotalPages":    Math.ceil( oSettings.fnRecordsDisplay() / oSettings._iDisplayLength )
            };
        };

        // DataTables implementation
        $(document).ready( function () {
            var ticketTable = $('#ticket-table').dataTable( {
                "fnDrawCallback": function() {
                    // Initialize popovers anytime new data is loaded into the table
                    $('a[rel=tooltip]').tooltip({
                        placement: 'left'
                    });
                },
                "bServerSide": true,
                "bAutoWidth": false,
                "sPaginationType": "bootstrap",
                "sAjaxSource": "{% url get_tickets_list %}",
                "aaSorting": [[ 2, "desc" ]],
                "iPageLength": 25,
                "bLengthChange": false,
                "bStateSave": true,
                "bFilter": true,
                "sDom": "<'length-change'><'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'length-change'><'span6'p>>",
                "oLanguage": {
                    "sSearch": ""
                },
                "aoColumns": [
                    { "bSortable": false, "sWidth": "14px", "bSearchable": false },
                    { "sWidth": "160px", "bSearchable": true },
                    { "sWidth": "60px", "bSearchable": true },
                    { "bSearchable": true },
                    { "bSortable": false, "sWidth": "14px", "bSearchable": false },
                    { "sWidth": "50px", "sClass": "center", "bSearchable": false },
                    { "bSearchable": true },
                    { "sWidth": "70px", "sClass": "center", "bSearchable": false },
                    { "sWidth": "75px", "bSearchable": true }
                ] } ).fnSetFilteringDelay(500);

            $("div.length-change").html(
                '<p>Tickets per page:</p><ul><li><a href="#">10</a></li><li><a href="#">25</a></li><li><a href="#">50</a></li><li><a href="#">100</a></li></ul>'
            );

            // Allows unordered list at the top of the page to change the number of tickets on a single page
            $('.length-change  a').click( function() {
                ticketTable.fnLengthChange( parseInt( $(this).text()) )
            });

            // Wrapper makes form elements inline
            $.extend( $.fn.dataTableExt.oStdClasses, {
                "sWrapper": "dataTables_wrapper form-inline"
            } );

            // Applies correct styling to DataTables for column sorts
            $.extend( $.fn.dataTableExt.oStdClasses, {
                "sSortAsc": "header headerSortDown",
                "sSortDesc": "header headerSortUp",
                "sSortable": "header"
            });

            // Instantiate FixedHeader for ticketTable
            var ticketHeader = new FixedHeader( ticketTable, { 'offsetTop': 64} );

            // Filter with button and enter key rather than on keyup
            $('#ticket-table_filter input').unbind('keyup');
            $('#ticket-table_filter input').keypress(function(event){
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if(keycode == '13'){
                    ticketTable.fnFilter( $('#ticket-table_filter input').val() );
                }
            });
            $('<button class="btn btn-primary"><i class="icon-filter"></i> Filter</button>').appendTo('#ticket-table_filter').click( function () {
                ticketTable.fnFilter( $('#ticket-table_filter input').val() );
                } );

            // Collapsed additional filters
//            $('<a id="filter-collapse-control" data-toggle="collapse" data-target="#filters" href="#filters">More <i class="icon-chevron-down"></i></div>').appendTo('#ticket-table_filter');
//            $('<div id="filters" class="collapse"><div class="well">Filters go here</div></div>').appendTo('#ticket-table_filter');
//            $("div#filters .well").html(
//                    '<div class="span2">' +
//                        '<h6>Priority</h6>' +
//                        '' +
//                    '</div>'
//                    // todo-devon Finish filters
//            );
            $('#filters').collapse('hide');
            $('#filters').on('hidden', function () {
                ticketHeader.fnUpdate();
            });
            $('#filters').on('shown', function () {
                ticketHeader.fnUpdate();
            });
        });
    </script>
{% endblock %}